= render 'navbar'

.darkBackground.full-lock-screen
  .darkBackgroundContainer.flex-center
    .centerCard#loginCard
      %h3.cardHeading.mt-4.mb-4 Login
      .label-style1
        = render 'loginform'
      .bottomText.mt-auto
        %p{style: "color: gray;"} Not a member?
        %a.ms-1{href: register_page_path, style: "color: blue"} Register Here