= render "navbar"

.darkBackground
  .darkBackgroundContainer#mainBg
    %h3#NowShowingTitle.mb-4.ms-4 Now showing
    .ps-3{style: "overflow: scroll;"}
      %table#MovieTable
        %tbody
          %tr
          - @movies_now_showing.each do |movie|
            %td= render "moviecard", movie: movie

    -# %h5 isLoggedin = #{@isLoggedIn}

:css
  #NowShowingTitle {
    text-shadow: 2px 2px black;
    padding-top: 80px;
    color: white;
  }

  #MovieTable {
    margin-bottom: 100px;
  }

  #MovieTable tr,td {
    padding-right: 0.7rem;
  }

:javascript
  $(document).ready(function() {
    $(".HomeNav").addClass("activeNavItem")

    let window_h = $(window).height();
    let backgorund_h = $("#mainBg").height();

    if (backgorund_h < window_h) {
      $(".darkBackground").addClass("full-lock-screen")
    }
  });