= render "navbar"

.darkBackground
  .darkBackgroundContainer
    .centerCard#registerCard
      %h3.cardHeading.mt-4.mb-4 Register
      .label-style1
        = render 'registerform'
      -# .bottomText.mt-auto
      -#   %p{style: "color: gray;"} Not a member?
      -#   %a.ms-1{href: register_page_path, style: "color: blue"} Register Here