/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --main-background-color: #6e0a1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Roboto", sans-serif !important;
}

a.nav-link {
  color: white;
}

a:visited {
  text-decoration: none;
}

#mainnavbar {
  /* background-color: var(--navbar-color); */
  background-image: linear-gradient(
    to right,
    var(--main-background-color) 5%,
    black 95%
  );
}

.navbar-brand {
  font-weight: bolder;
  font-size: 1.5rem;
}

li.nav-item a {
  color: white;
}

/* Login Page */
.darkBackground {
  /* width: 100% !important; */
  /* min-width: 975px; */
  background-image: linear-gradient(var(--main-background-color) 5%, black 95%);
}

.darkBackground.full-lock-screen {
  height: 100vh;
  position: fixed;
}

.darkBackground .darkBackgroundContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0 20px;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.darkBackground .darkBackgroundContainer .centerCard {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 1.6rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -10%;
  animation: drop 0.4s ease forwards;
}

#loginCard {
  width: 400px;
  height: 600px;
}

#registerCard {
  width: 600px;
}

@keyframes drop {
  0% {
  }
  100% {
    top: 0%;
  }
}

.cardHeading {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.darkBackgroundContainer .label-style1 label {
  text-align: left;
  margin-bottom: 0.5rem;
}

.darkBackgroundContainer .label-style1 input {
  margin: 0.3rem 0;
}

.submitButton {
  width: 100%;
  padding: 0.4rem;
  background-color: #ff8ba0;
}

.bottomText {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottomText > * {
  margin-bottom: 0px !important;
}

.invalid-feedback {
  text-align: left;
}
